body {
  margin: 0;
  min-height: 100vh;
  background-image: url(./assests/heart.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.input-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#your_name {
  padding: 10px 20px;
  border-radius: 15px;
  outline: none;
  border: none;
}

#crush_name {
  padding: 10px 20px;
  border-radius: 15px;
  outline: none;
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 300px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 24px;
  backdrop-filter: blur(5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.container-wrapper {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

button {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 15px;
  background-color: pink;
  border: none;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
  background-color: #ff6b8a;
}

h2 {
  color: crimson;
}

h1 {
  text-align: center;
  color: crimson;
}

.result-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  z-index: 9999;
  margin-top: 15px;
  padding: 14px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.85);
  color: #c62828;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  display: none;
}

p {
  font-family: "Inter", sans-serif;
}

h1,
h2 {
  font-family: "playfair display", sans-serif;
}

body,
input,
button {
  font-family: "Inter", sans-serif;
}

@media (max-width: 360px) {
  .result-box {
    max-width: 100%;
    width: 200px;
  }
}
